body {
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

/* Navbar */
.navbar {
    height: 80px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
}

.login-button {
    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 24px;
    transition: 0.3s color;
}

.login-button:hover {
    background-color: #00b383;
    color: #fff;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
        transform: translateX(0);
    }
}

/* akhir Narbar */

/* Hero */

#logo_hero {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* .hero_card_container {
    border: 5px solid blue; */
/* max-width: 700px; */
/* height: 320px; */
/* margin: 0 auto; */
/* margin-left: 6rem;
} */

.hero {
    /* border: 5px solid red; */
    width: 100%;
    height: 800px;
    background-size: cover;
    background-image: url("../img/spacejoy-RqO6kwm4tZY-unsplash.jpg");
    border-bottom: 10px solid white;
}

.hero_card2 {
    width: 400px;
}

.next_icon,
.prev_icon {
    font-size: 9rem;
}

/* akhir Hero */

/* About */
.about_section {
    max-height: 1024px;
    padding: 60px 0;
}

.box_about {
    width: 250px;
    height: 60px;
}

.text-justify {
    text-align: justify;
}

/* Akhir About */

/* Services */

#service {
    height: auto;
    padding-bottom: 20px;
    border-top: 10px solid white;
    background-color: #778873;
    /* border: 5px solid red; */
}

.service_container {
    margin-top: 50px;
}

.box {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.our-services {
    margin-top: 75px;
    padding-bottom: 30px;
    padding: 2px 60px;
    /* height: 40%; */
    text-align: center;
    border-radius: 10px;
    background-color: #fff;
    transition: all .4s ease-in-out;
    box-shadow: 0 0 25px rgba(20, 27, 202, 17);
}

.our-services p {
    text-align: justify;
}

.our-services .icon {
    margin-bottom: -20px;
    transform: translateY(-50%);
    text-align: center;
}

.our-services:hover h4,
.our-services:hover p {
    color: white;
}

.consult:hover {
    background-color: hsl(300, 79%, 44%);
    box-shadow: 0 0 25px hsl(300, 79%, 24%);
    cursor: pointer;
}

.Customization:hover {
    background-color: hsl(175, 77%, 47%);
    box-shadow: 0 0 25px hsl(175, 77%, 27%);
    cursor: pointer;
}

.Delivery:hover {
    background-color: hsl(89, 31%, 44%);
    box-shadow: 0 0 25px hsl(89, 31%, 24%);
    cursor: pointer;
}

.Warranty:hover {
    background-color: hsl(29, 76%, 23%);
    box-shadow: 0 0 25px hsl(29, 76%, 43%);
    cursor: pointer;
}

.Sourcing:hover {
    background-color: hsl(0, 100%, 21%);
    box-shadow: 0 0 25px hsl(0, 100%, 41%);
    cursor: pointer;
}

.Support:hover {
    background-color: hsl(38, 89%, 21%);
    box-shadow: 0 0 25px hsl(38, 89%, 41%);
    cursor: pointer;
}



/* Akhir Services */

/* Product */
.product_section {
    border-top: 10px solid white;
    background-color: #90ab8b;
}

.product_container {
    max-height: 2000px;
}

.item_card {
    max-width: 300px;
}

.icons1,
.icons2,
.icons3,
.icons4 {
    top: 70px;
    right: 10px;
    opacity: 0;
    transition: 0.3s;
}

.discount {
    left: 0;
    top: 0;
}

.btn_product1,
.btn_product2,
.btn_product3,
.btn_product4 {
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.3s;
}

.item1:hover .icons1,
.item1:hover .btn_product1 {
    opacity: 1;
    cursor: pointer;
}

.item2:hover .icons2,
.item2:hover .btn_product2 {
    opacity: 1;
    cursor: pointer;
}

.item3:hover .icons3,
.item3:hover .btn_product3 {
    opacity: 1;
    cursor: pointer;
}

.item4:hover .icons4,
.item4:hover .btn_product4 {
    opacity: 1;
    cursor: pointer;
}