body {
    margin: 0;
    background-color: var(--primary_color);
}

body::-webkit-scrollbar {
    display: none;
}

:root {
    --primary_color: #f9f5eb;
    --secondary_color: #e4efe7;
    --third_color: #F1F3E0;
    --button_color: #124170;
    --button_color_hover: hsl(210, 72%, 35%);
    --button_color_active: hsl(210, 72%, 55%);
    --p_color: #000;

    --font_primary: "Montserrat";
    --font_paragraprh: "Comfortaa";
    --font_header: "Open Sans";
}

/* Navbar */
.navbar {
    height: 80px;
    background-color: #f9f5eb;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 20px;
    padding: 0.5rem;
}

.login-button {
    background-color: var(--button_color);
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.navbar-brand {
    font-weight: 500;
    color: #778873;
    font-size: 24px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
    transition: 0.3s color;
}

.login-button:hover {
    background-color: var(--button_color_hover);
    color: #fff;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover,
.nav-link.active {
    color: #000;
}

/* akhir Narbar */

/* Hero */

#logo_hero {
    font-family: "Zen Dots", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #67c090;
    text-shadow: 1px 1px 2px #fff;
}

.hero_header {
    font-family: var(--font_primary);
}

#hero {
    position: relative;
}

.hero {
    width: 100%;
    height: 500px;
    position: absolute;
    top: -100px
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero_description {
    padding-top: 410px;
}

.hero_container {
    padding: 20px;
}

.hero_indicator {
    color: var(--button_color);
}

.hero_inner {
    position: relative;
    height: 100%;
}

.hero::after {
    position: absolute;
}

.hero_card_container {
    background-color: #f9f5eb;
}

.next_icon,
.prev_icon {
    font-size: 9rem;
}

/* akhir Hero */

/* About */
.about_header {
    font-family: var(--font_primary);
}

.text-muted {
    font-family: var(--font_header);
    font-style: italic;
}

.about_section {
    max-height: 1024px;
}

.card_about {
    height: 100vh;
}

.inner_card_about {
    height: 100%;
}

.p_about {
    display: flex;
    align-items: center;
}

.desc {
    font-family: var(--font_paragraprh);
}

.card_body_about {
    background-color: var(--primary_color);
    background-color: var(--primary_color);
    overflow: hidden;
}

.card_body_about p {
    color: var(--p_color);
    font-size: 1.5rem;
}

.img_about {
    position: relative;
    overflow: hidden;
    height: auto;
}

.img_about img {
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    bottom: 0;
    left: 0;
}

.text-justify {
    text-align: justify;
}

/* Akhir About */

/* Services */

#service {
    height: auto;
    padding-bottom: 20px;
    font-family: var(--font_paragraprh);
}

.box_service {
    background-color: var(--secondary_color);
}

.service_box_header {
    font-family: var(--font_primary);
}

.box_header_service {
    background-color: var(--secondary_color);
    font-family: var(--font_primary);
}

.service_container {
    margin-top: 50px;
}


/* Akhir Services */

/* Product */
.product_header_container {
    background-color: var(--third_color);
    font-family: var(--font_paragraprh);
}

.text_header_product {
    font-family: var(--font_primary);
}

.box_product {
    background-color: var(--third_color);
}

.product_section {
    background-color: var(--primary_color);
}

.product_container {
    max-height: 2000px;
}

.item_card {
    max-width: 300px;
}

.item_card {
    overflow: hidden;
    background-color: var(--secondary_color);
}

.icons1,
.icons2,
.icons3,
.icons4 {
    top: 70px;
    right: 10px;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(50px);
}

.discount {
    left: 0;
    top: 0;
}

.btn_color {
    background-color: var(--button_color);
    color: #fff;
}

.btn_color:hover {
    background-color: var(--button_color_hover);
    color: #fff;
}

.btn_color:active,
.btn-color:focus {
    background-color: var(--button_color_active) !important;
    color: var(--p_color) !important;
}

.btn_product1,
.btn_product2,
.btn_product3,
.btn_product4 {
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 0.5s;
    transform: translateY(50px);
}

.item1:hover .icons1,
.item1:hover .btn_product1 {
    opacity: 1;
    cursor: pointer;
    transform: translate(0);
}

.item2:hover .icons2,
.item2:hover .btn_product2 {
    opacity: 1;
    cursor: pointer;
    transform: translate(0);
}

.item3:hover .icons3,
.item3:hover .btn_product3 {
    opacity: 1;
    cursor: pointer;
    transform: translate(0);
}

.item4:hover .icons4,
.item4:hover .btn_product4 {
    opacity: 1;
    cursor: pointer;
    transform: translate(0);
}

/* Akhir Product */

/* Contact */
#contact {
    width: 100%;
}

.card {
    background-color: var(--secondary_color);
}

.head {
    background-color: var(--button_color);
    border-radius: 5px solid;
    margin-top: -40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.input_form {
    position: relative;
}

.effect_1 {
    border: 0;
    outline: none;
    width: 100%;
    padding: 7px 0;
    border-bottom: 1px solid #ccc;
}

.effect_1~.focus_border {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #00b383;
    transition: 0.5s;
}

.effect_1:focus~.focus_border {
    width: 100%;
    transition: 0.5s;
    left: 0;
}

.loader {
    pointer-events: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #fff2ef;
    animation: an1 1s ease infinite;
}

@keyframes an1 {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

.allert {
    display: none;
}

.enabled {
    display: block;
}

.form_title {
    font-size: 4rem;
}

/* Akhir Contact */

/* BreakPoint Tablet dan Lebih Besar */
@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: var(--button_color);
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before,
    .nav-link.active::before {
        width: 100%;
        visibility: visible;
        transform: translateX(0);
    }
}

/* End Breakpoint Tablet */

/* Breakpoin Handphone */
@media (max-width: 600px) {


    /* hero */
    #hero {
        position: relative;
        height: 740px;
    }

    /* end hero */

    /* about */

    .card_about {
        display: flex;
        height: 1200px;
        flex-direction: column;
    }

    .img_about {
        width: 100%;
        height: 500px;
    }

    .inner_card_about {
        display: flex;
        flex-direction: column;
    }

    .card_body_about p,
    .card_body_about h1 {
        color: var(--p_color);
        font-size: 1.3rem;
    }

    .p_about {
        display: block;
        margin-top: 20px;
    }

    /* Akhir about */
}